button {
    background-color: #2ecc00;
    color: white;
    font-weight: 600;
    padding: 14px 20px;
    font-size: 1rem;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    /* margin-left: 90%; */
    border-radius: 0.25rem;
}